- tasks.each do |task|

  - if !task.done && task.empty_or_assigned_to?(current_user) && !current_user.has_category_hidden?(task.project_id, task.category_id)
    = render partial: "admin/tasks/unplanned_task", locals: { task: task, url: root_path }
