.row_with_max_width{
  max-width: 1800px;
  margin: 0 auto;
}

.infos{
  border: 1px solid lightgray;
  padding: 20px 10px!important;
}

.modal {
  max-height: 80% !important;
  .row{
    margin-bottom: 0px;
  }
}

i.material-icons{
  margin: 0 10px;
  font-size: 18px;
}

.error{
  display: inline-block;
  margin-bottom: 10px;

  color: crimson;
  font-size: 12px;
}

.text-center{
  text-align: center;
}

.hint{
  font-size: 11px;
  color: gray;
}

.uppercase{
  text-transform: uppercase;
}

div.check_boxes{
  label{
    display:block;
  }
  p.checkbox{
    display: inline-block;
    padding: 0 30px 0 0;
  }
}

table{
  td, th {
    border-radius: 0;
    padding: 2px 10px;
  }
  td {
    border-bottom: 1px solid lightgray;
  }
}

#flash{
  margin: 10px auto;
  color: white;

  p{
    padding: 10px 20px;
    text-align: center;
  }
  .alert-success{
    background: yellowgreen;
  }
  .alert-danger{
    background: crimson;
  }
  .close{
    background: none;
    border: none;
    color: white;
    float: right;
  }
}

h1{
  font-size: 2rem !important;
}
h2{
  font-size: 1.8rem !important;
}
h3{
  font-size: 1.6rem !important;
}
h4{
  font-size: 1.4rem !important;
}
h5{
  font-size: 1.2rem !important;
}
h5{
  font-size: 1.1rem !important;
}


#per-page{
  display: inline-block;
  div{
    display: inline-block;
    vertical-align: middle;
    input{
      margin-left: 10px;
      margin-top: 20px;
      max-width: 60px;
      max-height: 25px;

    }
  }
}

.bottom-message{
  position: fixed;
  background: crimson;
  color: white;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  a {
    color: white;
  }
  p {
    margin: 10px 0;
  }
}

.size-10{
  font-size: 10px;
}

.btn-small{
  font-size: 11px !important;
  padding: 7px !important;
  line-height: inherit !important;
  max-height: 30px;
}

hr { border: whitesmoke 1px solid; }
