/***********************************/
/************ ROW
/***********************************/
.row_with_max_width{
  max-width: 1800px;
  margin: 0 auto;
}

/***********************************/
/************ ICONS / BUTTONS
/***********************************/
i.icon{
  margin: 0 10px !important;
  #padding: 0 10px !important;
  font-size: 18px;
  &.tiny{
    vertical-align: middle;
  }
  &.dropdown{
    margin: -0.78571429em !important;
  }
}

/***********************************/
/************ TEXT STYLE
/***********************************/
.text-center{
  text-align: center;
}

.hint{
  font-size: 11px;
  color: gray;
}

.tiny{
  font-size: 8px;
}

.uppercase{
  text-transform: uppercase;
}

.error{
  display: inline-block;
  margin-bottom: 10px;
  color: crimson;
  font-size: 12px;
}

/***********************************/
/************ MESSAGES
/***********************************/
#flash{
  margin: 10px auto;
  color: white;

  p{
    padding: 10px 20px;
    text-align: center;
  }
  .alert-success{
    background: yellowgreen;
  }
  .alert-danger{
    background: crimson;
  }
  .close{
    background: none;
    border: none;
    color: white;
    float: right;
  }
}

.infos{
  border: 1px solid lightgray;
  padding: 20px 10px!important;
}

.bottom-message{
  position: fixed;
  background: crimson;
  color: white;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  a {
    color: white;
    &:hover{
      color: whitesmoke;
    }
  }
  p {
    margin: 10px 0;
  }
}

hr { border: whitesmoke 1px solid; }
