// Calendar days
#today{
  font-weight: bold;
  padding: 0 10px;
}

// Start timer button
.start-timer{
  cursor: pointer;
  font-size: 15px !important;
  padding: 10px;
  span{
    vertical-align: top !important;
  }
  i {
    vertical-align: top !important;
  }
}

// Colorpicker
.sp-replacer{
  margin: 20px 0;
}
input.sp-input{
  height: inherit !important;
}

// Charts
.charts-label{
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

// Comments
.comments{
  border: 1px solid lightgray;
  padding: 5px 10px;
}
