#today{
  font-weight: bold;
  padding: 0 10px;
}

.opacity_75{
  opacity: 0.75;
}

.low, .tr-low{
  border-left: 7px lightskyblue solid !important;
  &.tr-todo{
    //color: lightgreen;
  }
}

.low-color{
  color: lightskyblue !important;
}

.medium, .tr-medium{
  border-left: 7px lightseagreen  solid !important;
  &.tr-todo{
    //color: green;
  }
}

.medium-color{
  color: lightseagreen !important;
}

.high, .tr-high{
  border-left: 7px orange solid !important;
  &.tr-todo{
    color: orange;
  }
}

.high-color{
  color: orange;
}

.critical, .tr-critical{
  border-left: 7px crimson solid !important;
  &.tr-todo{
    color: crimson;
    font-weight: bold;
  }
}

.critical-color{
  color: crimson;
}

.stand_by, .tr-stand_by{
  border-left: 7px lightgray solid !important;
}

.stand_by-color{
  color: lightgray;
}

.tr-done{
  //background-color: whitesmoke !important;
  color: darkgray;
  font-weight: normal !important;
}
.tr-todo{
  background-color: white;
  //font-weight:bold;
}

.btn{
  &.add_task, &.show_kanban{
    padding: 6px 10px;
    margin: 0 10px;
    line-height: 1;
    max-height: 20px;
    font-size: 10px;
    i{
      padding: 0 px;
      margin: 0;
      font-size: 12px;
    }
  }
}

.start-timer{
  cursor: pointer;
  font-size: 15px !important;
  padding: 10px;
  span{
    vertical-align: top !important;
  }
  i {
    vertical-align: top !important;
  }
}

ul.tabs{
  background: none !important;
}

// Colorpicker
.sp-replacer{
  margin: 20px 0;
}
input.sp-input{
  height: inherit !important;
}

// Charts
.charts-label{
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.comments{
  border: 1px solid lightgray;
  padding: 5px 10px;
}

.little-textarea{
  padding: 0 !important;
  min-height: inherit;
}

#kanban{
  overflow-x: auto;
  overflow-y: hidden;
  top: 200px;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  height: auto;
}

.kanban_state{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  min-width: 200px;
}

.kanban_state_row{
  min-height: 200px;
  height: 100%;
  overflow-y: auto;
  height: 450px;
  border: 1px solid whitesmoke;
}

.kanban_name{
  max-height: 10px;
  padding: 10px 0;
  strong{
    overflow: hidden;
  }
  &:hover, &:focus{
    cursor: grab;
  }
}
