#today{
  font-weight: bold;
  padding: 0 10px;
}

.opacity_75{
  opacity: 0.75;
}

.low{
  border-left: 7px lightgreen solid !important;
}
.medium{
  border-left: 7px green solid !important;
}
.high{
  border-left: 7px orange solid !important;
}
.critical{
  border-left: 7px crimson solid !important;
}
.stand_by{
  border-left: 7px lightgray solid !important;
}

.tr-high{
  //background-color: orange;
  //color: white;
  color: orange;
  font-weight: bold;
}
.tr-critical{
  //background-color: crimson;
  //color: white;
  color: crimson;
  font-weight: bold;
}

.tr-done{
  color: gray !important;
  font-weight: normal !important;
}
.tr-undone{
  font-weight:bold;
}

.btn{
  &.add_task{
    padding: 6px 10px;
    margin: 0 10px;
    line-height: 1;
    max-height: 20px;
    font-size: 10px;
    i{
      padding: 0 px;
      margin: 0;
      font-size: 14px;
    }
  }
}

.start-timer{
  cursor: pointer;
  font-size: 15px !important;
  padding: 10px;
  span{
    vertical-align: top !important;
  }
  i {
    vertical-align: top !important;
  }
}
