.home_project_name{
  max-width: 200px;
  padding: 5px 20px 5px 0;
  font-weight: bold;
  a{
    display: inline-block;
  }
}

.invisible{
  opacity: 0;
  max-height: 25px;
}
.schedule_name {
  height: 80px;
  margin: 0;
  border-top: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  padding-top: 20px;
  font-size: 12px;
}

.weekly_calendar{
  //position: fixed;
  //overflow: auto;
  //top: 150px;
}

.task, .unplanned_task{
  max-width: 200px;
  border: 1px solid lightgray;
  cursor: pointer;
  padding: 10px;
  height: 80px;
  margin: 0px 0;

  &.planned{
    border: none;
  }
  &.done{
    background: whitesmoke !important;
    opacity: 0.5;
  }
}

.available_schedule, .schedule{
  max-width: 200px;
  border: 1px solid lightgray;
  min-height: 80px;
  margin: 0px 0; // MUST top_margin variable in  JS when changing this
  overflow:hidden;
}

#unplan_task_here{
  min-height: 80px;
  width: 200px;
  display: inline-block;
  float: right;
  text-align: center;
}

.timer-buttons{
  cursor: pointer;
}

#previous-week, #next-week, #current-week{
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
