
// Kanban
#kanban{
  overflow-x: auto;
  overflow-y: hidden;
  //top: 200px;
  right: 0;
  left: 0;
  bottom: 0;
  //position: absolute;
  display: flex;
  height: auto;
}

.kanban_state{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  min-width: 200px;
}

.kanban_state_row{
  min-height: 200px;
  height: 100%;
  overflow-y: auto;
  height: 450px;
  border: 1px solid whitesmoke;
}

.kanban_name, .to_sort_kanban_name{
  height: 40px;
  padding: 10px 0;
  strong{
    overflow: hidden;
  }
  &:hover, &:focus{
    cursor: grab;
  }
}
